:root {
--sol-color-apps-wfm-activity-open: rgb(226 235 244);
--sol-color-apps-wfm-activity-busy: rgb(245 185 97);
--sol-color-apps-wfm-activity-break: rgb(159 199 93);
--sol-color-apps-wfm-activity-ooo: rgb(145 97 151);
--sol-color-apps-wfm-activity-on-call: rgb(167 215 237);
--sol-color-background-buttons-critical-regular: var(--sol-global-color-red-600);
--sol-color-background-buttons-critical-hover: var(--sol-global-color-red-700);
--sol-color-background-buttons-critical-pressed: var(--sol-global-color-red-800);
--sol-color-background-buttons-critical-disabled: var(--sol-global-color-black-alpha-30);
--sol-color-background-buttons-ghost-regular: rgb(0 0 0);
--sol-color-background-buttons-ghost-hover: var(--sol-global-color-black-alpha-30);
--sol-color-background-buttons-ghost-disabled: var(--sol-global-color-grays-30);
--sol-color-background-buttons-ghost-pressed: var(--sol-global-color-black-alpha-60);
--sol-color-background-buttons-inverse-regular: var(--sol-global-color-white-alpha-200);
--sol-color-background-buttons-inverse-hover: var(--sol-global-color-white-alpha-300);
--sol-color-background-buttons-inverse-pressed: var(--sol-global-color-white-alpha-400);
--sol-color-background-buttons-inverse-disabled: var(--sol-global-color-white-alpha-100);
--sol-color-background-buttons-primary-regular: var(--sol-global-color-ui1-600);
--sol-color-background-buttons-primary-hover: var(--sol-global-color-ui1-700);
--sol-color-background-buttons-primary-pressed: var(--sol-global-color-ui1-800);
--sol-color-background-buttons-primary-disabled: var(--sol-global-color-black-alpha-30);
--sol-color-background-buttons-secondary-regular: var(--sol-global-white);
--sol-color-background-buttons-secondary-hover: var(--sol-global-color-ui2-50);
--sol-color-background-buttons-secondary-pressed: var(--sol-global-color-ui2-100);
--sol-color-background-buttons-secondary-disabled: var(--sol-global-color-black-alpha-30);
--sol-color-background-input-regular: var(--sol-global-white);
--sol-color-background-input-disabled: var(--sol-global-color-black-alpha-30);
--sol-color-background-input-validation: var(--sol-global-color-red-50);
--sol-color-background-input-read-only: var(--sol-global-color-black-alpha-30);
--sol-color-background-navigation-regular: var(--sol-global-white);
--sol-color-background-navigation-hover: var(--sol-global-color-black-alpha-30);
--sol-color-background-navigation-pressed: var(--sol-global-color-black-alpha-60);
--sol-color-background-navigation-selected: var(--sol-global-color-ui3-300);
--sol-color-background-navigation-selected-inverse: var(--sol-global-color-ui1-600);
--sol-color-background-navigation-selected-hover: var(--sol-global-color-ui3-400);
--sol-color-background-query-chips-invalid-regular: rgb(255 148 0 / 12%);
--sol-color-background-query-chips-invalid-hover: rgb(255 148 0 / 35%);
--sol-color-background-query-chips-invalid-select: rgb(255 148 0 / 60%);
--sol-color-background-query-chips-invalid-filter-name: rgb(255 148 0 / 20%);
--sol-color-background-query-chips-regular-regular: rgb(61 129 231 / 10%);
--sol-color-background-query-chips-regular-hover: rgb(61 129 231 / 50%);
--sol-color-background-query-chips-regular-select: rgb(61 129 231 / 90%);
--sol-color-background-query-chips-regular-filter-name: rgb(61 129 231 / 15%);
--sol-color-background-status-critical-strong: var(--sol-global-color-red-700);
--sol-color-background-status-critical-regular: var(--sol-global-color-red-500);
--sol-color-background-status-critical-subtle: var(--sol-global-color-red-100);
--sol-color-background-status-info-strong: var(--sol-global-color-blue-700);
--sol-color-background-status-info-regular: var(--sol-global-color-blue-500);
--sol-color-background-status-info-subtle: var(--sol-global-color-blue-100);
--sol-color-background-status-success-strong: var(--sol-global-color-green-700);
--sol-color-background-status-success-regular: var(--sol-global-color-green-500);
--sol-color-background-status-success-subtle: var(--sol-global-color-green-100);
--sol-color-background-status-warning-strong: var(--sol-global-color-yellow-700);
--sol-color-background-status-warning-regular: var(--sol-global-color-yellow-500);
--sol-color-background-status-warning-subtle: var(--sol-global-color-yellow-50);
--sol-color-background-toggle-regular: var(--sol-global-white);
--sol-color-background-toggle-selected-pale: var(--sol-global-color-ui1-100);
--sol-color-background-toggle-selected-bold: var(--sol-global-color-ui1-600);
--sol-color-border-controls-regular: var(--sol-global-color-neutral-300);
--sol-color-border-controls-hover: var(--sol-global-color-neutral-600);
--sol-color-border-controls-focus: var(--sol-global-color-purple-600);
--sol-color-border-controls-critical: var(--sol-global-color-red-600);
--sol-color-border-controls-disabled: var(--sol-global-color-black-alpha-100);
--sol-color-border-controls-read-only: var(--sol-global-color-black-alpha-100);
--sol-color-border-general-subtle: var(--sol-global-color-black-alpha-100);
--sol-color-border-general-regular: var(--sol-global-color-black-alpha-200);
--sol-color-border-general-medium: var(--sol-global-color-black-alpha-300);
--sol-color-border-general-contrast: var(--sol-global-color-black-alpha-500);
--sol-color-border-status-success: var(--sol-global-color-green-700);
--sol-color-border-status-warning: var(--sol-global-color-yellow-700);
--sol-color-border-status-info: var(--sol-global-color-blue-700);
--sol-color-border-status-critical: var(--sol-global-color-red-700);
--sol-color-icon-regular: var(--sol-global-color-ui2-700);
--sol-color-icon-inverse: var(--sol-global-white);
--sol-color-icon-disabled: var(--sol-global-color-black-alpha-100);
--sol-color-icon-critical: var(--sol-global-color-red-600);
--sol-color-icon-warning: var(--sol-global-color-yellow-700);
--sol-color-icon-info: var(--sol-global-color-blue-600);
--sol-color-icon-success: var(--sol-global-color-green-600);
--sol-color-icon-inverse-disabled: var(--sol-global-color-white-alpha-200);
--sol-color-surface-primary: var(--sol-global-white);
--sol-color-surface-secondary: var(--sol-global-color-ui2-50);
--sol-color-surface-page: var(--sol-global-color-ui2-100);
--sol-color-text-regular: var(--sol-global-color-black-alpha-800);
--sol-color-text-secondary: var(--sol-global-color-black-alpha-600);
--sol-color-text-disabled: var(--sol-global-color-black-alpha-200);
--sol-color-text-critical: var(--sol-global-color-red-600);
--sol-color-text-link: var(--sol-global-color-ui1-700);
--sol-color-text-label: var(--sol-global-color-neutral-500);
--sol-color-text-inverse-normal: var(--sol-global-white);
--sol-color-text-inverse-secondary: var(--sol-global-color-white-alpha-600);
--sol-color-text-inverse-disabled: var(--sol-global-color-white-alpha-200);
--sol-global-white: rgb(255 255 255);
--sol-global-black: rgb(0 0 0);
--sol-global-color-black-alpha-30: rgb(0 0 0 / 3%);
--sol-global-color-black-alpha-60: rgb(0 0 0 / 6%);
--sol-global-color-black-alpha-100: rgb(0 0 0 / 10%);
--sol-global-color-black-alpha-200: rgb(0 0 0 / 20%);
--sol-global-color-black-alpha-300: rgb(0 0 0 / 30%);
--sol-global-color-black-alpha-400: rgb(0 0 0 / 40%);
--sol-global-color-black-alpha-500: rgb(0 0 0 / 50%);
--sol-global-color-black-alpha-600: rgb(0 0 0 / 60%);
--sol-global-color-black-alpha-700: rgb(0 0 0 / 70%);
--sol-global-color-black-alpha-800: rgb(0 0 0 / 80%);
--sol-global-color-black-alpha-900: rgb(0 0 0 / 90%);
--sol-global-color-blue-50: rgb(241 247 254);
--sol-global-color-blue-100: rgb(226 239 252);
--sol-global-color-blue-200: rgb(190 222 249);
--sol-global-color-blue-300: rgb(133 194 244);
--sol-global-color-blue-400: rgb(67 164 237);
--sol-global-color-blue-500: rgb(27 136 220);
--sol-global-color-blue-600: rgb(14 108 190);
--sol-global-color-blue-700: rgb(12 84 152);
--sol-global-color-blue-800: rgb(15 73 125);
--sol-global-color-blue-900: rgb(18 61 104);
--sol-global-color-brand-ui11-600: rgb(0 123 189);
--sol-global-color-dataviz-1-50: rgb(250 252 233);
--sol-global-color-dataviz-1-100: rgb(243 248 207);
--sol-global-color-dataviz-1-200: rgb(231 241 165);
--sol-global-color-dataviz-1-300: rgb(211 230 112);
--sol-global-color-dataviz-1-400: rgb(190 215 69);
--sol-global-color-dataviz-1-500: rgb(160 188 38);
--sol-global-color-dataviz-1-600: rgb(125 150 26);
--sol-global-color-dataviz-1-700: rgb(95 115 24);
--sol-global-color-dataviz-1-800: rgb(76 91 25);
--sol-global-color-dataviz-1-900: rgb(65 78 25);
--sol-global-color-dataviz-10-50: rgb(254 245 238);
--sol-global-color-dataviz-10-100: rgb(253 232 215);
--sol-global-color-dataviz-10-200: rgb(251 206 173);
--sol-global-color-dataviz-10-300: rgb(247 171 122);
--sol-global-color-dataviz-10-400: rgb(243 126 68);
--sol-global-color-dataviz-10-500: rgb(240 93 33);
--sol-global-color-dataviz-10-600: rgb(225 67 21);
--sol-global-color-dataviz-10-700: rgb(187 48 19);
--sol-global-color-dataviz-10-800: rgb(149 40 23);
--sol-global-color-dataviz-10-900: rgb(120 35 22);
--sol-global-color-dataviz-2-50: rgb(247 248 248);
--sol-global-color-dataviz-2-100: rgb(237 238 241);
--sol-global-color-dataviz-2-200: rgb(215 218 224);
--sol-global-color-dataviz-2-300: rgb(181 186 196);
--sol-global-color-dataviz-2-400: rgb(140 148 164);
--sol-global-color-dataviz-2-500: rgb(110 119 137);
--sol-global-color-dataviz-2-600: rgb(89 96 112);
--sol-global-color-dataviz-2-700: rgb(73 79 91);
--sol-global-color-dataviz-2-800: rgb(66 71 82);
--sol-global-color-dataviz-2-900: rgb(55 59 67);
--sol-global-color-dataviz-3-50: rgb(254 242 243);
--sol-global-color-dataviz-3-100: rgb(253 227 229);
--sol-global-color-dataviz-3-200: rgb(253 203 206);
--sol-global-color-dataviz-3-300: rgb(250 167 172);
--sol-global-color-dataviz-3-400: rgb(245 116 124);
--sol-global-color-dataviz-3-500: rgb(235 72 82);
--sol-global-color-dataviz-3-600: rgb(215 40 51);
--sol-global-color-dataviz-3-700: rgb(181 32 41);
--sol-global-color-dataviz-3-800: rgb(150 30 38);
--sol-global-color-dataviz-3-900: rgb(125 31 37);
--sol-global-color-dataviz-4-50: rgb(240 249 255);
--sol-global-color-dataviz-4-100: rgb(224 242 254);
--sol-global-color-dataviz-4-200: rgb(185 229 254);
--sol-global-color-dataviz-4-300: rgb(124 210 253);
--sol-global-color-dataviz-4-400: rgb(54 189 250);
--sol-global-color-dataviz-4-500: rgb(12 164 235);
--sol-global-color-dataviz-4-600: rgb(0 124 190);
--sol-global-color-dataviz-4-700: rgb(1 104 163);
--sol-global-color-dataviz-4-800: rgb(6 88 134);
--sol-global-color-dataviz-4-900: rgb(11 73 111);
--sol-global-color-dataviz-5-50: rgb(242 251 243);
--sol-global-color-dataviz-5-100: rgb(224 248 226);
--sol-global-color-dataviz-5-200: rgb(195 239 199);
--sol-global-color-dataviz-5-300: rgb(148 225 157);
--sol-global-color-dataviz-5-400: rgb(94 202 106);
--sol-global-color-dataviz-5-500: rgb(56 175 71);
--sol-global-color-dataviz-5-600: rgb(39 138 51);
--sol-global-color-dataviz-5-700: rgb(35 114 45);
--sol-global-color-dataviz-5-800: rgb(33 90 41);
--sol-global-color-dataviz-5-900: rgb(28 75 35);
--sol-global-color-dataviz-6-50: rgb(253 242 249);
--sol-global-color-dataviz-6-100: rgb(251 232 245);
--sol-global-color-dataviz-6-200: rgb(249 209 237);
--sol-global-color-dataviz-6-300: rgb(246 171 221);
--sol-global-color-dataviz-6-400: rgb(238 120 196);
--sol-global-color-dataviz-6-500: rgb(229 79 171);
--sol-global-color-dataviz-6-600: rgb(211 47 139);
--sol-global-color-dataviz-6-700: rgb(176 30 108);
--sol-global-color-dataviz-6-800: rgb(151 29 92);
--sol-global-color-dataviz-6-900: rgb(126 29 80);
--sol-global-color-dataviz-7-50: rgb(249 246 254);
--sol-global-color-dataviz-7-100: rgb(242 234 253);
--sol-global-color-dataviz-7-200: rgb(231 218 250);
--sol-global-color-dataviz-7-300: rgb(212 188 246);
--sol-global-color-dataviz-7-400: rgb(186 145 239);
--sol-global-color-dataviz-7-500: rgb(160 103 229);
--sol-global-color-dataviz-7-600: rgb(136 71 214);
--sol-global-color-dataviz-7-700: rgb(125 59 200);
--sol-global-color-dataviz-7-800: rgb(99 48 153);
--sol-global-color-dataviz-7-900: rgb(81 40 123);
--sol-global-color-dataviz-8-50: rgb(244 249 248);
--sol-global-color-dataviz-8-100: rgb(219 236 233);
--sol-global-color-dataviz-8-200: rgb(182 217 210);
--sol-global-color-dataviz-8-300: rgb(138 190 181);
--sol-global-color-dataviz-8-400: rgb(97 160 151);
--sol-global-color-dataviz-8-500: rgb(66 123 116);
--sol-global-color-dataviz-8-600: rgb(55 106 100);
--sol-global-color-dataviz-8-700: rgb(47 86 82);
--sol-global-color-dataviz-8-800: rgb(41 70 68);
--sol-global-color-dataviz-8-900: rgb(37 60 58);
--sol-global-color-dataviz-9-50: rgb(254 252 232);
--sol-global-color-dataviz-9-100: rgb(253 247 196);
--sol-global-color-dataviz-9-200: rgb(252 236 140);
--sol-global-color-dataviz-9-300: rgb(249 218 75);
--sol-global-color-dataviz-9-400: rgb(245 196 20);
--sol-global-color-dataviz-9-500: rgb(229 173 13);
--sol-global-color-dataviz-9-600: rgb(198 134 8);
--sol-global-color-dataviz-9-700: rgb(158 94 10);
--sol-global-color-dataviz-9-800: rgb(131 75 16);
--sol-global-color-dataviz-9-900: rgb(111 61 20);
--sol-global-color-grays-30: rgb(247 247 247);
--sol-global-color-grays-60: rgb(240 240 240);
--sol-global-color-grays-100: rgb(230 230 230);
--sol-global-color-grays-200: rgb(204 204 204);
--sol-global-color-grays-300: rgb(179 179 179);
--sol-global-color-grays-400: rgb(153 153 153);
--sol-global-color-grays-500: rgb(128 128 128);
--sol-global-color-grays-600: rgb(102 102 102);
--sol-global-color-grays-700: rgb(77 77 77);
--sol-global-color-grays-800: rgb(51 51 51);
--sol-global-color-grays-900: rgb(26 26 26);
--sol-global-color-green-50: rgb(242 251 242);
--sol-global-color-green-100: rgb(226 246 227);
--sol-global-color-green-200: rgb(198 236 200);
--sol-global-color-green-300: rgb(153 220 158);
--sol-global-color-green-400: rgb(100 196 108);
--sol-global-color-green-500: rgb(63 168 72);
--sol-global-color-green-600: rgb(48 141 56);
--sol-global-color-green-700: rgb(40 109 46);
--sol-global-color-green-800: rgb(36 87 41);
--sol-global-color-green-900: rgb(31 72 35);
--sol-global-color-neutral-50: rgb(244 246 247);
--sol-global-color-neutral-100: rgb(228 231 233);
--sol-global-color-neutral-200: rgb(203 209 214);
--sol-global-color-neutral-300: rgb(167 176 185);
--sol-global-color-neutral-400: rgb(123 135 149);
--sol-global-color-neutral-500: rgb(96 108 122);
--sol-global-color-neutral-600: rgb(83 91 103);
--sol-global-color-neutral-700: rgb(71 78 87);
--sol-global-color-neutral-800: rgb(63 67 75);
--sol-global-color-neutral-900: rgb(56 60 65);
--sol-global-color-orange-50: rgb(255 247 235);
--sol-global-color-orange-100: rgb(255 239 213);
--sol-global-color-orange-200: rgb(254 219 170);
--sol-global-color-orange-300: rgb(253 192 116);
--sol-global-color-orange-400: rgb(251 154 60);
--sol-global-color-orange-500: rgb(249 125 22);
--sol-global-color-orange-600: rgb(234 98 12);
--sol-global-color-orange-700: rgb(194 73 12);
--sol-global-color-orange-800: rgb(154 58 18);
--sol-global-color-orange-900: rgb(124 50 18);
--sol-global-color-purple-50: rgb(249 247 253);
--sol-global-color-purple-100: rgb(240 237 250);
--sol-global-color-purple-200: rgb(229 223 245);
--sol-global-color-purple-300: rgb(208 197 237);
--sol-global-color-purple-400: rgb(180 160 224);
--sol-global-color-purple-500: rgb(150 122 210);
--sol-global-color-purple-600: rgb(126 93 192);
--sol-global-color-purple-700: rgb(105 74 166);
--sol-global-color-purple-800: rgb(98 70 149);
--sol-global-color-purple-900: rgb(74 53 110);
--sol-global-color-red-50: rgb(254 242 243);
--sol-global-color-red-100: rgb(253 227 229);
--sol-global-color-red-200: rgb(253 203 206);
--sol-global-color-red-300: rgb(250 167 172);
--sol-global-color-red-400: rgb(245 116 124);
--sol-global-color-red-500: rgb(235 72 82);
--sol-global-color-red-600: rgb(215 40 51);
--sol-global-color-red-700: rgb(181 32 41);
--sol-global-color-red-800: rgb(150 30 38);
--sol-global-color-red-900: rgb(125 31 37);
--sol-global-color-ui1-50: rgb(239 249 254);
--sol-global-color-ui1-100: rgb(209 236 252);
--sol-global-color-ui1-200: rgb(158 214 247);
--sol-global-color-ui1-300: rgb(116 194 239);
--sol-global-color-ui1-400: rgb(75 175 232);
--sol-global-color-ui1-500: rgb(45 150 210);
--sol-global-color-ui1-600: rgb(16 125 188);
--sol-global-color-ui1-700: rgb(13 95 143);
--sol-global-color-ui1-800: rgb(9 64 96);
--sol-global-color-ui1-900: rgb(6 40 60);
--sol-global-color-ui2-50: rgb(249 250 251);
--sol-global-color-ui2-100: rgb(238 242 245);
--sol-global-color-ui2-200: rgb(220 229 233);
--sol-global-color-ui2-300: rgb(192 206 216);
--sol-global-color-ui2-400: rgb(158 179 194);
--sol-global-color-ui2-500: rgb(130 154 171);
--sol-global-color-ui2-600: rgb(102 129 147);
--sol-global-color-ui2-700: rgb(80 106 124);
--sol-global-color-ui2-800: rgb(68 87 100);
--sol-global-color-ui2-900: rgb(45 67 83);
--sol-global-color-ui3-300: rgb(174 211 240 / 30%);
--sol-global-color-ui3-400: rgb(174 211 240 / 40%);
--sol-global-color-ui3-500: rgb(174 211 240 / 50%);
--sol-global-color-white-alpha-100: rgb(255 255 255 / 10%);
--sol-global-color-white-alpha-200: rgb(255 255 255 / 20%);
--sol-global-color-white-alpha-300: rgb(255 255 255 / 30%);
--sol-global-color-white-alpha-400: rgb(255 255 255 / 40%);
--sol-global-color-white-alpha-500: rgb(255 255 255 / 50%);
--sol-global-color-white-alpha-600: rgb(255 255 255 / 60%);
--sol-global-color-white-alpha-700: rgb(255 255 255 / 70%);
--sol-global-color-white-alpha-800: rgb(255 255 255 / 80%);
--sol-global-color-white-alpha-900: rgb(255 255 255 / 90%);
--sol-global-color-yellow-50: rgb(254 251 232);
--sol-global-color-yellow-100: rgb(253 247 196);
--sol-global-color-yellow-200: rgb(252 235 140);
--sol-global-color-yellow-300: rgb(250 218 74);
--sol-global-color-yellow-400: rgb(246 197 25);
--sol-global-color-yellow-500: rgb(233 174 12);
--sol-global-color-yellow-600: rgb(199 132 7);
--sol-global-color-yellow-700: rgb(158 95 10);
--sol-global-color-yellow-800: rgb(131 74 16);
--sol-global-color-yellow-900: rgb(111 61 20);
--sol-global-font-letter-spacing-10: -0.025rem;
--sol-global-font-letter-spacing-20: -0.0125rem;
--sol-global-font-letter-spacing-30: -0.0063rem;
--sol-global-font-letter-spacing-40: 0rem;
--sol-global-font-letter-spacing-50: 0.0063rem;
--sol-global-font-letter-spacing-60: 0.0125rem;
--sol-global-font-letter-spacing-70: 0.025rem;
--sol-global-font-line-height-dense: 0.0875rem;
--sol-global-font-line-height-normal: 11.25rem;
--sol-global-font-line-height-loose: 13.75rem;
--sol-global-font-size-100: 0.6875rem;
--sol-global-font-size-200: 0.75rem;
--sol-global-font-size-300: 0.8125rem;
--sol-global-font-size-400: 1rem;
--sol-global-font-size-500: 1.25rem;
--sol-global-font-size-600: 1.5rem;
--sol-global-font-size-700: 1.75rem;
--sol-global-font-size-800: 2rem;
--sol-global-font-size-900: 2.5rem;
--sol-global-font-weight-light: 18.75rem;
--sol-global-font-weight-regular: 25rem;
--sol-global-font-weight-bold: 43.75rem;
--sol-global-font-weight-extra-bold: 50rem;
--sol-global-font-weight-semi-bold: 37.5rem;
--sol-global-size-0: 0rem;
--sol-global-size-5: 0.125rem;
--sol-global-size-10: 0.25rem;
--sol-global-size-20: 0.5rem;
--sol-global-size-30: 0.75rem;
--sol-global-size-40: 1rem;
--sol-global-size-50: 1.25rem;
--sol-global-size-60: 1.5rem;
--sol-global-size-70: 1.75rem;
--sol-global-size-80: 2rem;
--sol-global-size-90: 2.25rem;
--sol-global-size-100: 2.5rem;
--sol-global-size-110: 2.75rem;
--sol-global-size-120: 3rem;
--sol-global-size-130: 4rem;
--sol-global-size-140: 5rem;
--sol-global-size-150: 6.25rem;
--sol-global-size-200: 7.5rem;
--sol-global-size-border-width-0: 0rem;
--sol-global-size-border-width-10: 0.0625rem;
--sol-global-size-border-width-20: 0.125rem;
--sol-global-size-border-width-30: 0.25rem;
--sol-global-size-border-width-40: 0.375rem;
--sol-global-size-border-width-50: 0.5rem;
--sol-global-size-radius-0: 0rem;
--sol-global-size-radius-10: 0.125rem;
--sol-global-size-radius-20: 0.25rem;
--sol-global-size-radius-30: 0.5rem;
--sol-global-size-radius-40: 1rem;
--sol-global-size-radius-round: 624.9375rem;
--sol-size-border-none: var(--sol-global-size-border-width-0);
--sol-size-border-s: var(--sol-global-size-border-width-10);
--sol-size-border-m: var(--sol-global-size-border-width-20);
--sol-size-border-l: var(--sol-global-size-border-width-30);
--sol-size-border-xl: var(--sol-global-size-border-width-40);
--sol-size-border-xxl: var(--sol-global-size-border-width-50);
--sol-size-controls-s: var(--sol-global-size-60);
--sol-size-controls-m: var(--sol-global-size-70);
--sol-size-controls-l: var(--sol-global-size-90);
--sol-size-controls-xl: var(--sol-global-size-110);
--sol-size-icon-s: var(--sol-global-size-30);
--sol-size-icon-m: var(--sol-global-size-40);
--sol-size-icon-l: var(--sol-global-size-50);
--sol-size-icon-xl: var(--sol-global-size-60);
--sol-size-linehight-s: var(--sol-global-size-50);
--sol-size-linehight-m: var(--sol-global-size-60);
--sol-size-linehight-l: var(--sol-global-size-70);
--sol-size-linehight-xl: var(--sol-global-size-80);
--sol-size-radius-none: var(--sol-global-size-0);
--sol-size-radius-xs: var(--sol-global-size-5);
--sol-size-radius-s: var(--sol-global-size-10);
--sol-size-radius-m: var(--sol-global-size-20);
--sol-size-radius-l: var(--sol-global-size-40);
--sol-size-radius-round: 624.9375rem;
--sol-size-spacing-none: var(--sol-global-size-0);
--sol-size-spacing-xxxs: var(--sol-global-size-5);
--sol-size-spacing-xxs: var(--sol-global-size-10);
--sol-size-spacing-xs: var(--sol-global-size-20);
--sol-size-spacing-s: var(--sol-global-size-30);
--sol-size-spacing-m: var(--sol-global-size-40);
--sol-size-spacing-l: var(--sol-global-size-50);
--sol-size-spacing-xl: var(--sol-global-size-60);
--sol-size-spacing-xxl: var(--sol-global-size-80);
--sol-size-spacing-xxxl: var(--sol-global-size-100);
--sol-effect-modalshadow: 0px 4px 20px 0px rgb(0 0 0 / 20%);
--sol-effect-menushadow: 0px 4px 12px 0px rgb(0 0 0 / 8%);
--sol-effect-selectionmark: 2px 0px 0px 0px rgb(83 91 103) inset;
--sol-effect-overlayshadow: 0px 4px 12px 0px rgb(0 0 0 / 8%);
--sol-effect-tooltipshadow: 0px 3px 12px 3px rgb(0 0 0 / 25%);
--sol-typography-body-bold-font-family: "SOL Sans", "Open Sans";
--sol-typography-body-bold-font-size: 0.8125rem;
--sol-typography-body-bold-font-weight: 700;
--sol-typography-body-bold-line-height: 1.5rem;
--sol-typography-body-bold-text-align: left;
--sol-typography-body-highlight-font-family: "SOL Sans", "Open Sans";
--sol-typography-body-highlight-font-size: 0.8125rem;
--sol-typography-body-highlight-font-weight: 600;
--sol-typography-body-highlight-line-height: 1.5rem;
--sol-typography-body-highlight-text-align: left;
--sol-typography-body-dense-font-family: "SOL Sans", "Open Sans";
--sol-typography-body-dense-font-size: 0.8125rem;
--sol-typography-body-dense-font-weight: 400;
--sol-typography-body-dense-line-height: 1.25rem;
--sol-typography-body-dense-text-align: left;
--sol-typography-body-font-family: "SOL Sans", "Open Sans";
--sol-typography-body-font-size: 0.8125rem;
--sol-typography-body-font-weight: 400;
--sol-typography-body-line-height: 1.5rem;
--sol-typography-body-text-align: left;
--sol-typography-button-font-family: "SOL Sans", "Open Sans";
--sol-typography-button-font-size: 0.8125rem;
--sol-typography-button-font-weight: 600;
--sol-typography-button-line-height: 1rem;
--sol-typography-button-text-align: left;
--sol-typography-heading-1-font-family: "SOL Sans", "Open Sans";
--sol-typography-heading-1-font-size: 2rem;
--sol-typography-heading-1-font-weight: 700;
--sol-typography-heading-1-letter-spacing: -0.4px;
--sol-typography-heading-1-line-height: 2.5rem;
--sol-typography-heading-1-text-align: left;
--sol-typography-heading-1-text-transform: capitalize;
--sol-typography-heading-2-font-family: "SOL Sans", "Open Sans";
--sol-typography-heading-2-font-size: 1.75rem;
--sol-typography-heading-2-font-weight: 700;
--sol-typography-heading-2-letter-spacing: -0.2px;
--sol-typography-heading-2-line-height: 2.25rem;
--sol-typography-heading-2-text-align: left;
--sol-typography-heading-2-text-transform: capitalize;
--sol-typography-heading-3-font-family: "SOL Sans", "Open Sans";
--sol-typography-heading-3-font-size: 1.5rem;
--sol-typography-heading-3-font-weight: 600;
--sol-typography-heading-3-letter-spacing: -0.2px;
--sol-typography-heading-3-line-height: 2rem;
--sol-typography-heading-3-text-align: left;
--sol-typography-heading-3-text-transform: capitalize;
--sol-typography-heading-4-font-family: "SOL Sans", "Open Sans";
--sol-typography-heading-4-font-size: 1.25rem;
--sol-typography-heading-4-font-weight: 600;
--sol-typography-heading-4-letter-spacing: -0.1px;
--sol-typography-heading-4-line-height: 1.75rem;
--sol-typography-heading-4-text-align: left;
--sol-typography-heading-4-text-transform: capitalize;
--sol-typography-heading-5-font-family: "SOL Sans", "Open Sans";
--sol-typography-heading-5-font-size: 1rem;
--sol-typography-heading-5-font-weight: 600;
--sol-typography-heading-5-line-height: 1.5rem;
--sol-typography-heading-5-text-align: left;
--sol-typography-heading-5-text-transform: capitalize;
--sol-typography-heading-6-font-family: "SOL Sans", "Open Sans";
--sol-typography-heading-6-font-size: 0.8125rem;
--sol-typography-heading-6-font-weight: 600;
--sol-typography-heading-6-letter-spacing: 0.1px;
--sol-typography-heading-6-line-height: 1.25rem;
--sol-typography-heading-6-text-align: left;
--sol-typography-heading-6-text-transform: capitalize;
--sol-typography-label-highlight-font-family: "SOL Sans", "Open Sans";
--sol-typography-label-highlight-font-size: 0.8125rem;
--sol-typography-label-highlight-font-weight: 600;
--sol-typography-label-highlight-line-height: 1rem;
--sol-typography-label-highlight-text-align: left;
--sol-typography-label-highlight-text-transform: capitalize;
--sol-typography-label-font-family: "SOL Sans", "Open Sans";
--sol-typography-label-font-size: 0.8125rem;
--sol-typography-label-font-weight: 400;
--sol-typography-label-line-height: 1rem;
--sol-typography-label-text-align: left;
--sol-typography-label-text-transform: capitalize;
--sol-typography-subtext-font-family: "SOL Sans", "Open Sans";
--sol-typography-subtext-font-size: 0.75rem;
--sol-typography-subtext-font-weight: 400;
--sol-typography-subtext-letter-spacing: 0.2px;
--sol-typography-subtext-line-height: 1rem;
--sol-typography-subtext-text-align: left;
}
